:root{
  --backd-1: #ededed;
  --backd-2: #efefef;
  --backd-3: #ebebeb;
  --bordd-1: #d7d5d5;
  --bordd-2: #ccc;
  --bordd-3: #bbb;
  --txtd-0: #aaa;
  --txtd-1: #444;
  --txtd-2: #555;
  --txtd-3: #777;
  --backn-2: #191919;
  --backn-1: #151515;
  --backn-3: #101010;
  --bordn-0: #191919;
  --bordn-1: #2c2c2c;
  --bordn-2: #222;
  --bordn-3: #333;
  --txtn-1: #ccc;
  --txtn-2: #aaa;
  --txtn-3: #888;
  --criminales: #323A5F;
}

.dami-v-bx {width: 880px; height: 670px; margin: auto; position: relative; overflow: hidden; background: #111; padding: 20px; outline: 1px solid var(--criminales); outline-offset: -10px}

.dami-v-bx br {display: none!important}

.dami-v-con {width: auto; height: 70px; padding: 20px; margin: auto; position: relative; background: #222; display: flex; flex-wrap: wrap; overflow: hidden}

.v-con-n {width: 440px; height: auto; margin: 0px 0px 0px 0px; font-family: audiowide; color: var(--criminales); font-size: 45px; letter-spacing: 2px; text-transform: uppercase; font-weight: bold}

.v-con-n span {color: transparent; -webkit-text-stroke: 1px #888;}

.v-con-li {width: 115px; height: 10px; background: var(--criminales); margin: 60px 0px 0px 4px; position: absolute}

.v-con-f {width: 250px; height: auto; margin: -7px 0px 0px 10px; padding: 15px; font-size: 10px; color: #bbb; font-family: google sans code; line-height: 140%; text-transform: uppercase; border-left: 1px solid #555}

.v-con-ic {width: 50px; height: 50px; margin: -140px 0px 0px 750px; font-size: 150px; color: var(--criminales); transform: rotate(20deg)}

.dami-box {width: auto; height: 430px; margin: 10px 0px 0px 0px; background: #222; padding: 20px}

.dami-box-mu {width: 870px; height: 60px; padding: 5px; background: #222; margin: 10px 0px 0px 0px; display: flex; flex-wrap: wrap}

.box-link-b {width: auto; height: auto; margin: auto; display: flex; flex-wrap: wrap}

.link-b {width: 110px; height: auto; padding: 10px; font-size: 10px; text-transform: uppercase; background: var(--criminales); color: #eee; font-family: google sans code; text-align: center; margin: 5px; transition: all ease-in-out 0.7s}

.link-b:hover {transition: all ease-in-out 0.7s; background: #444}

.link-b a {text-decoration: none; color: #ddd!important;}

.box-img {width: 360px; height: 360px; margin: 5px 0px 0px 4px; position: absolute; border: 15px solid #333; background: url(https://i.postimg.cc/WbxtKzKX/6be24d4ac86c05f62c03bcdd5238aa9a.jpg); background-size: 100%; filter: grayscale(1) brightness(40%)}

.box-datos-uno {width: 415px; height: 370px; margin: 5px 0px 0px 400px; position: absolute; display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 2px;
grid-row-gap: 2px; background: #111; padding: 10px}

.box-un {width: 200px; height: 80px; margin: auto; background: #222; outline: 1px dotted var(--criminales); margin-top: 5px}

.un-tit {width: auto; height: auto; margin: auto; padding: 10px; font-family: audiowide; color: var(--criminales); background: #111}

.un-txt {width: auto; height: auto; margin: auto; padding: 10px; font-family: google sans code; color: #aaa; font-size: 10px; text-transform: uppercase;}

.music-box {width: 190px; height: 40px; margin: auto; padding: 10px; background: #111; overflow: hidden; transition: all ease-in-out 0.7s}

.music-box:hover {transition: all ease-in-out 0.7s; filter: brightness(150%)}

.music-ic {width: 40px; height: 40px; margin: 0px 0px 0px 0px; position: absolute; font-size: 30px; color: var(--criminales); border-right: 1px solid #222}

.music-t {width: 150px; height: auto; margin: 0px 0px 0px 50px; font-family: audiowide; font-size: 13px; color: var(--criminales);}

.music-ar {width: 150px; height: auto; margin: 5px 0px 0px 50px; font-family: google sans code; color: #aaa; font-size: 8px; text-transform: uppercase; font-style: italic}

